<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/allpic.css" />
  </head>
  <body>
    <nav class="nav"></nav>
    <div class="container">
      <div class="user-image">
        <div class="image-block">
          <div class="title">
            <p>http://jandan.net</p>
            <p>2019-01-25 10:55:12</p>
          </div>
          <ul class="image-list">
            <li class="image-list-child">
              <img src="https://ws1.sinaimg.cn/large/005O2C54gy1fz9p8wvsmej30u01dqq5n.jpg" alt="" />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="/js/jquery.min.js"></script>
  </body>
</html>
