<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/reset.css" />
    <style>
      .container {
        background: #fff;
      }
      .reg-content {
        width: 400px;
        padding: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 16px 0 #575757;
      }
      .reg-content .title {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        font-size: 24px;
      }

      .reg {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
      }
      .reg p {
        color: cadetblue;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="reg-content">
        <div class="title">注册</div>
        <div class="rx-from-group">
          <input
            type="text"
            name="username"
            id="username"
            placeholder="用户名/邮箱"
          />
        </div>
        <div class="rx-from-group">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="密码"
          />
        </div>
        <div class="rx-from-group">
          <button type="button" class="rx-btn rx-btn-reg">注册</button>
        </div>
      </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script>
      $('.rx-btn-reg').click(function() {
        const username = $('#username').val();
        const password = $('#password').val();
        if(!username || !password){
          alert('账号密码不能为空');
          return false;
        }
        $.post(
          '/api/reg',
          {
            username,
            password
          },
          function(res) {
            if(!res.state){
              alert(res.message);
              return false;
            }
            alert(res.message);
            window.location.href = '/'
          }
        );
      });
    </script>
  </body>
</html>
