* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
button{
  cursor: pointer;
}
a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}
a:hover {
  color: #07bcf3;
}
a {
  color: #333;
}
.rx-btn {
  -webkit-appearance: none;
  background: #fff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  width: 100%;
  height: 34px;
}
.rx-btn:active{
  background: #e5e5e5;
}
.rx-from-group{
  box-sizing: border-box;
  margin-bottom: 10px;
}
.rx-from-group input{
  width: 100%;
  border: 1px solid #ddd;
  outline: none;
  line-height: 30px;
  padding: 0 7px;
}
